.logo {
  height: 50px;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: aquamarine;
  margin: 0;
  padding: 0;
  position: relative;
}

.menu-btn {
  background: none;
  border: none;
  display: none;
  cursor: pointer;
  color: black;
  font-size: 24px;
}

.navbar {
  display: flex;
}

.nav-link {
  display: flex;
  list-style: none;
  font-size: larger;
  gap: 22px;
  margin: 0;
  padding: 0;
}

.nav-link li a,
.cs-btn {
  color: black;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}



.nav-link li a:hover,
.cs-btn:hover {
  text-decoration: none;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}

/* Hambuger Nav Movil*/

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 60px;
    right: 0;
    background: grey;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    display: none;
  }

  .navbar .show {
    display: flex;
  }

  .nav-link {
    flex-direction: column;
    gap: 10px;
  }
}